@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  body {
    height: 100vh;
    background: linear-gradient(to left, rgb(4 200 235 / 31%), rgb(4 200 235 / 31%));
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Danjo-bold-Regular";
  }
  
  .container {
    background-color: rgb(255 255 255 / 74%);
    width: 30rem;
    height: 50rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(125, 123, 125);
    display: flex;
    flex-direction: column;
  }
  
  h1,
  h2 {
    margin-left: 5%;
    margin-bottom: 0;
  }
  
  button {
    border: 0;
    background: none;
    font-size: 30px;
    cursor: pointer;
  }

  
  #input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  #input-text {
    width: 85%;
    height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: rgba(213, 213, 213, 0.5);
  }
  
  /* todo-section, done-section */
  
  .todo-section,
  .done-section {
    flex: 0.5;
    border-top: 1px solid rgb(213, 213, 213);
  }
  
  #todo-list,
  #done-list {
    cursor: pointer;
    list-style: none;
    padding-left: 2rem;
    margin: 0;
    overflow: auto;
  }
  